In [4]:
import pandas as pd

In [17]:

dicionario = {
    'nome':['john','karter','katia','maria','joana'],
    'idade':[12,32,40,15,16],
    'id'   :[143,430,1043,1012,213]
}

dataset = pd.DataFrame(
    dicionario
)

In [22]:
dataset['nome'].loc[
    (dataset['idade'] == 40) |
    (dataset['nome'].str.contains('n'))
]

0     john
2    katia
4    joana
Name: nome, dtype: object